{{#if recsLength}}
<h3 class="mt-3 mb-3">Your search result for "{{q}}"</h3>
<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">app_id</th>
      <th scope="col">name</th>
      <th scope="col">category</th>
      <th scope="col">rating</th>
      <th scope="col">installs</th>
    </tr>
  </thead>
  <tbody>
    {{#each recs }}
    <tr>
      <td>{{this.app_id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.category}}</td>
      <td>{{this.rating}}</td>
      <td>{{this.installs}}</td>
    </tr>
    {{/each}}

    {{!-- form should submit the  --}}
    <form method="GET" , action="/search">
      <div class="d-flex justify-content-center mb-3">
        <input type="hidden" name="search" value={{q}}>
        <button class="btn btn-success mr-3" name="previous" value="previous5">Previous</button>
        <button class="btn btn-danger" name="next" value="next5">Next</button>
      </div>
    </form>

  </tbody>
</table>
{{else}}
<h4>There are no results for your search</h4>
{{/if}}